
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body>
<h1>Welcome to the Creative Platform</h1>
<p>This platform is a space for generative artists, musicians, and creators to come together and share their work.</p>
<p>Here, you can:</p>
<ul>
<li>Create new generative art and music</li>
<li>Explore a curated collection of generative art and music</li>
<li>Connect with other creators and collaborate on projects</li>
<li>Get help and support from our multimodal chatbot</li>
</ul>
<p>We hope you enjoy using the platform!</p>
</body>
</html>

